.searchSection {
    border-radius: 16px;
    background-color: var(--color-bg-secondary);
    padding: 54px 31px;
    height: 270px;
    margin: 54px 0;
}

.searchSection h3 {
    font-weight: 500;
    font-size: 38px;
}

.searchUser {
    height: 40px;
    width: 298px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 8px 17px;
    font-size: 16px;
    border: none;
}

.searchUser::placeholder {
    color: var(--color-font-five);
}

.searchUserF input:focus {
    outline: none;
}

.buttonSub {
    border-radius: 4px;
    background-color: var(--color-bg-primary);
    color: var(--color-font-secondary);
    padding: 0 8px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}